######################
## Intellij
#######################
.idea
*.iml

######################
## Maven
#######################
**/target/
**/pom.xml.versionsBackup

######################
## VIM
#######################
.swp

